<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646027499696-9df8orh5npjkn0jfstd1soct1or0b783.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646027499696-9df8orh5npjkn0jfstd1soct1or0b783</string>
	<key>API_KEY</key>
	<string>AIzaSyAlFL6KYxetWva8QgghS4XA9WeTIjSmGg8</string>
	<key>GCM_SENDER_ID</key>
	<string>646027499696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itrakassets.biosecure</string>
	<key>PROJECT_ID</key>
	<string>biosecurity-global-app</string>
	<key>STORAGE_BUCKET</key>
	<string>biosecurity-global-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646027499696:ios:1ddacb8427665095368375</string>
</dict>
</plist>